@font-face {
  font-family: "Catamaran";
  src: url("./fonts/Catamaran-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-pro;
}
.nav i {
  margin: 10px;
}
.navbar-brand,
.navbar-collapse,
nav-icons {
  display: flex;
  justify-content: space-around;
}
.nav-icons {
  padding-right: 60px;
}
.navbar-brand {
  padding: 10px;
}
.sale .sale-h1 {
  background-color: orangered;
  display: flex;
  width: 17%;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 0;
}
.card {
  display: flex;
}
.sale-h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  color: white;
}
.sale {
  justify-content: flex-end;
}
.card {
  width: 50% !important;
  max-width: 600px;
  outline: none;
  border: none;
  margin: 35px;
}
.card-body {
  text-align: center;
}
.card-title {
  font-weight: 600;
}

.inlineelist-product {
  display: inline-block;
}
.card-list {
  width: 320px !important;
  position: relative;
  right: -170px;
}
.card-list2 {
  width: 320px !important;
  position: relative;
  right: -40px;
}
.card-title-2,
.card-text2 {
  display: flex;
}
.left-side-img {
  max-width: 600px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.hr-width {
  width: 20%;
  border: 2.3px solid orangered;
}
.card-text2 {
  font-size: 1rem;
  margin-left: 60px;
}
.Arrivals-heading h1 {
  font-weight: 600;
}
.Arrivals-heading {
  text-align: center;
}
.h1-freeship {
  font-size: 1.4em;
}
.p-freeship {
  line-height: 20px;
}

.space-col1 {
  margin-left: -10px;
}
.col-1 {
  width: 100%;
}
.col-1 i {
  color: rgba(255, 68, 0, 0.486);
}
.footer-a-left {
  margin-left: 10px;
}
.footer-btns {
  width: 100%;
  background-color: white;
}
.copyrght {
  color: rgb(0, 0, 0);
}
.rehan {
  color: rgba(255, 68, 0, 0.733) !important;
  font-style: normal !important;
}
.footer-a-btn a {
  text-decoration: none;
}
.call-now {
  font-size: 0.9rem;
}
footer li a {
  line-height: 50px;
  text-decoration: none;
}
.calling {
  font-weight: 600;
}
.best-seller-list {
  margin-left: -240px;
}
.navbar-toggler {
  position: absolute;
  right: 20px;
}

@media (max-width: 672px) {
  .r-side-img {
    width: 20% !important;
    position: relative;
    right: 40px;
  }
  .best-seller-list {
    position: relative;
    right: 50px;
    width: -240px;
  }
  .left-side-img {
    position: relative;
    left: 0px;
    width: 170%;
  }
  .newarrival-list {
    display: none;
  }
  .navbar-toggler {
    position: absolute;
    right: 15px;
  }
}
@media (max-width: 375px) {
  .r-side-img {
    width: 20% !important;
    position: relative;
    right: 40px;
  }
  .best-seller-list {
    display: none;
  }
  .left-side-img {
    position: relative;
    left: -5px;
    width: 350px;
  }
  .newarrival-list {
    display: none;
  }
  .products-without-title {
    padding-left: 80px !important;
  }
  .products-with-title {
    padding-left: 80px !important;
  }
  .navbar-toggler {
    position: absolute;
    right: 20px;
  }
  .col-1{
    margin-left: -10px;
    }
}
@media (max-width: 414px) {
  .navbar-toggler {
    position: absolute;
    right: 20px;
  }
  .products-without-title {
    padding-left: 80px !important;
  }
  .products-with-title {
    padding-left: 80px !important;
  }
  .best-seller-list {
    display: none;
  }
  .newarrival-list {
    display: none;
  }
  .left-side-img{
    width: 200%;
    margin-left: -35px;
  }
  .col-1{
  position: relative;
  left: 29px;
  }
}
@media (max-width: 390px) {
.left-side-img{
  width: 220%;
  margin-left: -49px;
}
.col-1{
  position: relative;
  left: 12px;
  }
}